@import url('https://fonts.googleapis.com/css?family=Open+Sans');

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
}

p {
  line-height: 1.55;
  color: #333;
  font-size: 400;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 62px;
}

h2 {
  font-size: 30px;
  margin-bottom: 65px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

/* ==================================================
  General
  ================================================== */
a {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

/* ==================================================
  Elements
  ================================================== */
.btn {
  background-color: #199EB8;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  color: #0b0a0b!important;
  padding: 15px 45px;
  border-radius: 20px;
}

.btn:hover {
  background-color: #E04F00;
  color: #0b0a0bimportant;
}

.btn:focus {
  color: #0b0a0b!important;
}

.btn-ghost {
  border: 3px solid #fff;
  background-color: transparent;
}

.btn-ghost:hover {
  background-color: #fff;
  color: #199EB8;
}

.gld-btn
{
		background-color:#4aff00;
		text-transform:uppercase;
		
}

.gld-btn:hover
{
		background-color:#3fcd05;
}

section {
  padding: 85px 0;
}

.card {
  position: relative;
  padding: 0;
  border: 0;
  border-radius: 0;
  margin: 0;
  overflow: hidden;
}

a:hover {
  text-decoration: none !important;
}

.scrolltop {
  display: none;
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: #4aff00;
  color: #fff;
  text-align: center;
  font-size: 24px;
}

.scrolltop:hover, .scrolltop:active, .scrolltop:focus {
  color: #fff !important;
  opacity: .75;
}

/* ==================================================
  Hero Styling
================================================== */
.hero {
  display: table;
  position: relative;
  background-image: url(../img/bg-strata.jpg)!important;
  background-size: cover;
  padding: 150px 0;
  color: #000;
  width: 100%;
  height: 100vh;
}

.hero:after {
  content: '';
  z-index: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.01);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.hero .container {
  position: relative;
  z-index: 1;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

.hero-brand {
  margin-bottom: 25px;
  display: inline-block;
}


.tagline {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.3em;
  font-weight:600;
  margin: 5px 0 40px 0;
  color: #0b0a0b;
}

.tag-desc {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight:400;
  margin: -20px 0 30px 0;
  color: #fff;
  display:none;
}

/* ==================================================
  Header Styling
================================================== */
#header {
  background: #136f3a; /*#0b0a0b;*/
  height: 85px;
}

#header #logo {
  margin: 14px 25px 0 0;
}

#header #logo h1 {
  font-size: 36px;
  margin: 0;
  padding: 2px 0;
  line-height: 1;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header #logo h1 a, #header #logo h1 a:hover {
  color: #fff;
}

#header #logo img {
  padding: 0;
  margin: 0;
  max-height: 60px;
}

@media (max-width: 768px) {
  #header {
    height: 50px;
  }
  #header #logo {
    margin: 10px 0 0 0;
  }
  #header #logo h1 {
    padding: 2px 0;
    font-size: 26px;
  }
  #header #logo img {
    max-height: 30px;
  }
}

#header .social-nav {
  margin-top: 15px;
}

#header .social-nav a {
  font-size: 24px;
  margin-left: 15px;
  color: #fff;
}

#header .social-nav a:hover {
  color: rgba(255, 255, 255, 0.75);
}

/*.panel-login {
	border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
	color: #00415d;
	background-color: #fff;
	border-color: #fff;
	text-align:center;
}
.panel-login>.panel-heading a{
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
	color: #029f5b;
	font-size: 18px;
}
.panel-login>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
	height: 45px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}
.btn-login {
	background-color: #59B2E0;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
	color: #fff;
	background-color: #53A3CD;
	border-color: #53A3CD;
}
.forgot-password {
	text-decoration: underline;
	color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
	text-decoration: underline;
	color: #666;
}

.btn-register {
	background-color: #1CB94E;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
	color: #fff;
	background-color: #1CA347;
	border-color: #1CA347;
}
*/

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
  float:right;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}

/* Nav Menu Arrows */
/*.sf-arrows .sf-with-ul {
  padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 15px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}
*/
/* Nav Meu Container */
#nav-menu-container {
  margin: 0;
}

@media (max-width: 768px) {
  #nav-menu-container {
    display: none;
  }
}

/* Nav Meu Styling */
.nav-menu a {
  padding: 35px 15px 18px 15px;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  text-transform:uppercase;
  font-weight: 300;
  font-size: 15px;
  outline: none;
  border-top:2px solid #136f3a;
}

.nav-menu a:hover
{
	border-top:2px solid #4aff00;
}

.nav-menu a:hover, .nav-menu li:hover > a, .nav-menu .menu-active > a {
  color: #4aff00;
}

.nav-menu ul {
  margin: 4px 0 0 15px;
  -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.08);
}

.nav-menu ul li {
  background: #fff;
  border-top: 1px solid #f4f4f4;
}

.nav-menu ul li:first-child {
  border-top: 0;
}

.nav-menu ul li:hover {
  background: #199EB8;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.nav-menu ul li a {
  color: #333;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  padding: 10px 15px;
}

.nav-menu ul li a:hover {
  color: #fff;
}

.nav-menu ul ul {
  margin: 0;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 3px 1.5rem;
  clear: both;
  font-weight: normal;
  color: #292b2c;
  text-align: inherit;
  white-space: nowrap;
  background: #0b0a0b;
  border: 0;
}

.dropdown-item:focus, .dropdown-item:hover {
  color: #1d1e1f;
  text-decoration: none;
  background-color: #0b0a0b;
}

/* Mobile Nav Toggle */
#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 8px 10px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
}

#mobile-nav-toggle i {
  color: #fff;
}

@media (max-width: 768px) {
  #mobile-nav-toggle {
    display: inline;
  }
}

/* Mobile Nav Styling */
#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(0, 0, 0, 0.9);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #fff;
  font-size: 16px;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
}

#mobile-nav ul li a:hover {
  color: #fff;
}

#mobile-nav ul li li {
  padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #199EB8;
}

#mobile-nav ul .menu-item-active {
  color: #199EB8;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  display: none;
}

/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff;
}

/* ==================================================
  Stats Styling
================================================== */
.stats-row {
  margin-top: 65px;
}

.stats-col .circle {
  display: inline-block;
  width: 160px;
  height: 160px;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-weight: 500;
  color: #666;
  border: 6px solid #199EB8;
  border-radius: 50%;
  padding: 55px 25px 0 25px;
  position: relative;
}

.stats-col .circle .stats-no {
  color: #fff;
  width: 70px;
  height: 70px;
  line-height: 70px;
  top: -25px;
  right: -15px;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-size: 18px;
  background-color: #E04F00;
  position: absolute;
  border-radius: 50%;
  font-weight: 700;
}

.about
{
	/*background:url(../img/about-bg.jpg)right center!important;*/
	background-size:cover!important;
	background-repeat: no-repeat!important;
	height:100vh;
}

.about h2
{
	color:#fff;
	font-weight:600;
	text-transform:uppercase;
	font-size:25px;
}

.about p
{
	color:#fff;
}

.about hr
{
	border-color: #4aff00;
	margin-top:-50px!important;
	margin-bottom:20px!important;
	border-width: 5px;
	border-radius:50px;
	max-width: 100px;
	margin:0 auto;
}

.pillars .slv-box
{
	margin-top:20px;
	cursor:pointer;
}

.slv-box .slv-con
{
	font-size:60px!important;
	color:#4aff00!important;
	padding:10px 10px 10px 10px!important;
	border:2px solid #4aff00!important;
	width:120px;
	margin:0 auto;
		-moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
	-o-transition: all .6s; -moz-transition: all .6s; -webkit-transition: all .6s; -ms-transition: all .6s; transition: all .6s;
}

.slv-box:hover .slv-con 
{
color:#fff!important; 
background: #4aff00!important; 
border-color: #4aff00!important; 
-webkit-animation-name: pulse;
  animation-name: pulse;
}

.slv-box h4
{
	color:#1c1c1c;
	font-weight:600;
	text-transform:uppercase;
	padding:15px 0px;
}

.slv-box p
{
	font-size:14px;
}


/* ==================================================
  Parallax Styling
  ================================================== */
.block {
  color: #fff;
  position:relative;
  padding-top: 100px;
  padding-bottom:300px;
}

.block-2 {
  color: #fff;
  position:relative;
  padding-top: 100px;
  padding-bottom:150px;
}

.block-3 {
  color: #fff;
  position:relative;
  padding-top: 50px;
  padding-bottom:10px;
}

.block-4 {
  color: #fff;
  position:relative;
  padding-top: 100px;
  padding-bottom:100px;
}

.block-4 h2
{
	font-size:2.5em;
}


.block-4 p {
  color: #fff;
  margin-bottom:-25px!important;
}

.block-3 h2
{
	font-size:3em;
}

.block-2 .para
{
  color:#fff;
}

.block h2 {
  text-transform: uppercase;
  margin-bottom: 15px;
  font-weight:600;
  font-size:2em;
}

.block p {
  color: #fff;
  margin-bottom:-25px!important;
}

.block img
	{
		width:600px;
	}

/* ==================================================
  Features Styling
  ================================================== */
 
.carousel-indicators
{
  bottom:-40px;
}

.carousel-indicators li
{
  background-color:#1c1c1c;
}

.carousel-indicators li.active
{
  background-color:#fbc926;
}


.carousel-indicators li 
{
	margin-left:5px;
}

.carousel-item img {
  width:100%;
}

.carousel-caption p
{
	font-weight:300;
	font-size:14px;
	color:#fff;
}
 
.features {
  padding-bottom: 45px;
  background:#f7f7f7;
}

.features h2 {
 	color:#1c1c1c;
	font-weight:600;
	text-transform:uppercase;
	font-size:25px;
}

.features hr
{
	border-color: #1c1c1c;
	margin-top:-50px!important;
	margin-bottom:20px!important;
	border-width: 5px;
	border-radius:50px;
	max-width: 100px;
	margin:0 auto;
}

.feature-col {
  display: table;
  padding-bottom: 45px;
}

.feature-col > div > div {
  display: table-cell;
  vertical-align: middle;
}

.feature-col > div > div:last-child {
  padding-left: 20px;
}

.feature-col .feature-icon {
  width: 70px;
  height: 70px;
  margin-bottom: 15px;
  background: #199EB8;
  color: #fff;
  font-size: 24px;
  text-align: center;
  line-height: 70px;
  border-radius: 50%;
  display: inline-block;
}

.feature-col h3 {
  color: #199EB8;
}

.feature-col p {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #999;
}

/* ==================================================
  timeline Styling
  ================================================== */
.timel {
  background: url(../img/start-up-gld.jpg)center right fixed;
  background-size:900px!important;
  background-color:#111516!important;
  background-repeat: no-repeat!important;
  padding-bottom: 50px;
}

.timel h2 {
 	color:#fbc926;
	font-weight:600;
	text-transform:uppercase;
	font-size:25px;
}

.timel hr
{
	border-color: #fbc926;
	margin-top:-50px!important;
	margin-bottom:20px!important;
	border-width: 5px;
	border-radius:50px;
	max-width: 100px;
	margin:0 auto;
}

/* ================ The Timeline ================ */

.timeline {
  position: relative;
  width: 660px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 1em 0;
  list-style-type: none;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 6px;
  height: 100%;
  margin-left: -3px;
  background: rgb(80,80,80);
  background: -moz-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
  background: -webkit-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -o-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -ms-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  
  z-index: 5;
}

.timeline li {
  padding: 1em 0;
}

.timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.direction-l {
  position: relative;
  width: 300px;
  float: left;
  text-align: right;
}

.direction-r {
  position: relative;
  width: 300px;
  float: right;
}

.flag-wrapper {
  position: relative;
  display: inline-block;
  
  text-align: center;
}

.flag {
  position: relative;
  display: inline;
  background:#fbc926;
  padding: 6px 10px;
  border-radius: 5px;
  color:#fff;
  font-weight: 600;
  text-align: left;
}

.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: 50%;
  right: -40px;
  content: ' ';
  display: block;
  width: 12px;
  height: 12px;
  margin-top: -10px;
  background: #fff;
  border-radius: 10px;
  border: 4px solid #fbc926;
  z-index: 10;
}

.direction-r .flag:before {
  left: -40px;
}

.direction-l .flag:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-left-color:#fbc926;
  border-width: 8px;
  pointer-events: none;
}

.direction-r .flag:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color:#fbc926;
  border-width: 8px;
  pointer-events: none;
}

.time-wrapper {
  display: inline;
  
  line-height: 1em;
  font-size: 0.66666em;
  color:#000;
  vertical-align: middle;
}

.direction-l .time-wrapper {
  float: left;
}

.direction-r .time-wrapper {
  float: right;
}

.time {
  display: inline-block;
  padding: 4px 6px;
  background: rgb(248,248,248);
}

.desc {
  margin: 1em 0.75em 0 0;
  display:none;
  font-size: 0.77777em;
  font-style: italic;
  line-height: 1.5em;
}

.direction-r .desc {
  margin: 1em 0 0 0.75em;
}

/* ================ Timeline Media Queries ================ */

@media screen and (max-width: 660px) {

.timeline {
 	width: 100%;
	padding: 4em 0 1em 0;
}

.timeline li {
	padding: 2em 0;
}

.direction-l,
.direction-r {
	float: none;
	width: 100%;

	text-align: center;
}

.flag-wrapper {
	text-align: center;
}

.flag {
	background: #fbc926;
	z-index: 15;
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: -30px;
	left: 50%;
	content: ' ';
	display: block;
	width: 12px;
	height: 12px;
	margin-left: -9px;
	background: #fff;
	border-radius: 10px;
	border: 4px solid rgb(255,80,80);
	z-index: 10;
}

.direction-l .flag:after,
.direction-r .flag:after {
	content: "";
	position: absolute;
	left: 50%;
	top: -8px;
	height: 0;
	width: 0;
	margin-left: -8px;
	border: solid transparent;
	border-bottom-color:#fbc926;
	border-width: 8px;
	pointer-events: none;
}

.time-wrapper {
	display: block;
	position: relative;
	margin: 4px 0 0 0;
	z-index: 14;
}

.direction-l .time-wrapper {
	float: none;
}

.direction-r .time-wrapper {
	float: none;
}

.desc {
	position: relative;
	margin: 1em 0 0 0;
	padding: 1em;
	background: rgb(245,245,245);
	-webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
	-moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
	box-shadow: 0 0 1px rgba(0,0,0,0.20);
  z-index: 15;
}

.direction-l .desc,
.direction-r .desc {
	position: relative;
	margin: 1em 1em 0 1em;
	padding: 1em;
	
  z-index: 15;
}

}

@media screen and (min-width: 400px ?? max-width: 660px) {

.direction-l .desc,
.direction-r .desc {
	margin: 1em 4em 0 4em;
}

}

.portfolio-grid {
  margin-top: 65px;
}

.portfolio-grid .row {
  margin: 0;
}

.portfolio-grid .row > div {
  padding: 0;
}

.portfolio-grid .row > div .card img {
  width: 100%;
}

.portfolio-grid .row > div .card .portfolio-over {
  position: absolute;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.portfolio-grid .row > div .card .portfolio-over > div {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.portfolio-grid .row > div .card .portfolio-over .card-title {
  color: #fff;
  font-size: 30px;
}

.portfolio-grid .row > div .card .portfolio-over .card-text {
  color: #fff;
  opacity: .75;
  padding: 0 45px;
}

.portfolio-grid .row > div .card:hover .portfolio-over {
  opacity: 1;
  visibility: visible;
}

/* ==================================================
  faq Styling
  ================================================== */
.faqs
{
	padding:40px 40px 40px 40px
}  
.faqs h2
{
	color:#1c1c1c;
	font-weight:600;
	text-transform:uppercase;
	font-size:25px;
}

.faqs hr
{
	border-color: #1c1c1c;
	margin-top:-50px!important;
	margin-bottom:20px!important;
	border-width: 5px;
	border-radius:50px;
	max-width: 100px;
	margin:0 auto;
}

ol.faq{list-style: decimal; padding:0 0 0 0;}
.faq li{border-bottom: 1px solid #D9DADA; color:#000; padding: 20px 0;font-size:15px;}
.faq li .resposta{display: block; padding-top:20px; max-height: 0; overflow: hidden; clear: both; transition: all 1s linear;}
.faq li .titulo{font-weight:600;display: inline-block;color:#fbc926; }
.faq li label{font-size:18px;color:#fbc926; font-weight:600;cursor: pointer; display: inline-block;}
.faq li input[type=checkbox]{display: inline;float:right;}
/* Made blue and red to you change for your bg img open/close states */
.faq li input[type=checkbox]:after{;width: 13px; height: 13px; content: ""; background: #aeaeae; display: block;}
.faq li input[type=checkbox]:checked:after{background: #fbc926;}
.faq li input[type=checkbox]:checked + .resposta{ max-height:800px;}

.faq li .faq-list li
{
	border:none;
	padding:10px;
}


.team .col-sm-3 {
  padding: 0;
}

.team .card > a {
  display: block;
}

.team .card img {
  width: 100%;
}

.team .card h4 {
  color: #fff;
  text-transform: uppercase;
}

.team .card p {
  font-size: 11px;
  color: #fff;
  opacity: .75;
  margin: 0;
  padding: 0 35px;
}

.team .card .social-nav {
  margin-bottom: 45px;
}

.team .card .social-nav a {
  color: #fff;
  font-size: 16px;
  margin: 0 4px;
}

.team .card .social-nav a:hover {
  opacity: .75;
}

.team .card:hover .team-over {
  opacity: 1;
  visibility: visible;
}

.team .card:hover .card-title-wrap {
  background-color: #199EB8;
}

.team .card:hover .card-title-wrap .card-title, .team .card:hover .card-title-wrap .card-text {
  color: #fff;
}

.team .team-over {
  padding-top: 45px;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.team .card-title-wrap {
  padding: 15px 25px;
  position: relative;
  z-index: 9;
  background-color: #fff;
}

.team .card-title-wrap .card-title, .team .card-title-wrap .card-text {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  display: block;
  margin: 0;
}

.team .card-title-wrap .card-title {
  font-size: 24px;
  color: #333;
}

.team .card-title-wrap .card-text {
  font-size: 18px;
  color: #999;
}

/* ==================================================
  Contact Section
  ================================================== */
#contact {
  background: #f7f7f7;
  padding: 80px 0;
}

#contact h2
{
	color:#1c1c1c;
	font-weight:600;
	text-transform:uppercase;
	font-size:25px;
}

#contact hr
{
	border-color: #1c1c1c;
	margin-top:-50px!important;
	margin-bottom:20px!important;
	border-width: 5px;
	border-radius:50px;
	max-width: 100px;
	margin:0 auto;
}

#contact .info i {
  font-size: 32px;
  color: #199EB8;
  float: left;
}

#contact .info p {
  padding: 0 0 10px 50px;
  line-height: 24px;
}

#contact .form #sendmessage {
  color: #199EB8;
  border: 1px solid #199EB8;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #sendmessage.show, #contact .form #errormessage.show, #contact .form .show {
  display: block;
}

#contact .form .validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

#contact .form input, #contact .form textarea {
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#contact .form button[type="submit"] {
  background: #4aff00;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  border-radius:20px;
  width:100%;
  margin-bottom:20px;
}

#contact .form button[type="submit"]:hover {
  background: #3fcd05;
  cursor:pointer;
}

.contact img
{
	width:100%;
}

.cnt_info ul {
margin : 0;
padding : 0;
border-left : 1px solid #C7C7C7;
padding-left : 30px;
}
.cnt_info ul li {
list-style : none outside none;
padding : 15px 0;
}
.cnt_info ul li i {
color : #818181;
float : left;
margin-top : 5px;
}
.cnt_info p {
padding-left : 30px;
}

/* ==================================================
  Footer Styling
  ================================================== */
.site-foot {
  /*background:url(../img/footer-bg.jpg)right center!important;*/
  background-size:cover!important;
  background-repeat: no-repeat!important;
  padding: 10px 0 10px 0;
  border-bottom:#4aff00 5px solid;
}

.site-foot h2, .site-foot p {
  color: #000;
}

.site-foot p {
  line-height: 2.0925;
}

.site-foot h2,
.site-foot .btn {
  margin-bottom: 25px;
}

.site-foot .social-nav a {
  color: #000;
  opacity: .25;
}

.site-foot .social-nav a:hover {
  opacity: 1;
}

.site-foot .bottom {
  padding: 20px 0;
}

.site-foot .bottom .list-inline, .site-foot .bottom p {
  margin: 0;
}

.site-foot .bottom .list-inline {
  position: relative;
  top: 5px;
}

.site-foot .bottom .list-inline a {
  color: #000;
  font-family: 'Open Sans', sans-serif;
  margin-right: 15px;
  text-transform:uppercase;
}

.site-foot .bottom .list-inline a:hover {
  color: #4aff00;
}

.site-foot .credits {
  color: #000;
  padding-top:10px;
}

.site-foot .credits a {
  color: #000;
}

.site-foot .foot-brand
{
	width:90%;
	float:right;
}

/* ==================================================
  Responsive Styling
  ================================================== */


@media (min-width: 992px) and (max-width: 1199px) 
{
	.hero {
  /*background-image: url(../img/bg-strata.jpg);*/
  background-size:1500px;
  background-repeat:no-repeat;
  background-position:right;
  width: 100%;
  height:50vh;
}
	
}	

@media (min-width: 768px) and (max-width: 991px) 
{
  .hero {
  /*background-image: url(../img/bg-strata.jpg);*/
  background-size:1500px;
  background-repeat:no-repeat;
  background-position:right;
  width: 100%;
  height:50vh;
  }
  .about
  {
	 /*background:url(../img/about-bg.jpg)right center!important;*/
	background-size:1500!important;
	background-repeat: no-repeat!important;
	height:76vh;
  }
  .foot-brand
  {
	display:none;
  }

}	

@media (max-width: 767px) 
{
  .about
  {
	 /*background:url(../img/about-bg.jpg)right bottom!important;*/
    background-color:#000000!important;
	background-size:800px!important;
	background-repeat: no-repeat!important;
	height:200vh;
  }
    .foot-brand
  {
   display:none;
  }
  
}

@media (max-width: 415px) 
{
  .hero {
  /*background-image: url(../img/bg-strata.jpg);*/
  background-size:1685px;
  background-repeat:no-repeat;
  background-position:right;
  width: 100%;
  height:50vh;
  }
		
  .about
  {
	/*background:url(../img/about-bg.jpg)right bottom!important;*/
	background-color:#000000!important;
	background-size:800px!important;
	background-repeat: no-repeat!important;
	height:155vh;
  }		

}
.featured { margin-top: 10px; border: 1px solid #ccc; }
.featured-header {
    background-color: #ccc;
    color: #000;
}

.featured h3 {
  color: #000;
  font-size: 18px;
  margin-top: 10px;
}

.recipe { margin-top: 10px; }
.recipe label.ingredients{
  font-weight: bold;
  margin-top: 10px;
}